#information {
    margin-top: 60px;
    width: 100%;
    min-height: 160vh;
    background-color: rgba(106, 106, 104, 1);

}

#information h1 {
    margin-bottom: 30px;
}

#company-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 20%;
    color: aliceblue;
    background: rgb(56, 56, 56);
    background: linear-gradient(180deg, rgba(56, 56, 56, 1) 18%, rgba(84, 84, 83, 1) 58%, rgba(106, 106, 104, 1) 100%);
}

#card-container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    color: aliceblue;
}

.card-container {
    min-height: 120vh;
}

.cardd {
    border-width: 1px;
    border-top: solid;
    width: 80%;
    height: 40%;
    padding: 2%;
}

@media screen and (max-width: 1600px){
    .ceo-data p{
        font-size: 16px !important;
    }
    
    .ceo-description {
        font-size: 20.8px !important;
    }
}

@media screen and (max-width: 1080px){
    .ceo-data p{
        font-size: 16px !important;
    }
    
    .ceo-description {
        font-size: 20.8px !important;
    }

}



.ceo-data p{
    font-size: 1vw;
    margin: 0;
}

.ceo-description {
    font-size: 1.3vw;
}
