.property-listing {
    padding:10px;
    height: 300px;
  }
  .listing-content {
    border: solid;
    height: 100%;
  }
  .filters-container {
    text-align: center;
  }
  
  .form-label {
    display: block;
  }
  .property-listing-section {
    margin-top: 60px;
    min-height: calc(70vh - 60px);
  }
  .page-changer {
    text-align: center;
  }
  .listings-page-changer {
    background-color: inherit;
    border: none;
  }
.FiltersPopUp{
    margin-top: 20vh;
    display:none;
}
.rArrow{
    margin-top: 50vh;
    display:block;
    height: 25px;
    width: 25px;   
}
.lArrow{
    margin-top: 50vh;
    display:none;
    height: 25px;
    width: 25px; 
}



