.listed-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details{
  display: grid;
  grid-template-columns: 500px;
  justify-content: center;
}

.all{
  margin-top: 60px ;
}

#photo {
  border:solid black;
  border-radius: 20px;
  }

p{
  font-size: 20px;
  
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  
}
button{
  margin-left: 150px;
}

.extra-details{
  display: grid;
  grid-template-columns: 250px 250px;
  justify-content: start;
  text-align: center;
}

.extra-details>div{
  border: 1px solid black;

}
.extra-details>div:nth-child(2n+1){
  background-color: lightslategray;
  
}
    
