<section class="about">
    <p class="about-titles">POLICY</p>
    <div>
        <span><a class="link" href="">Cookies</a></span>
        <span><a class="link" href="">Terms of Use</a></span>
        <span><a class="link" href="">Private Policy</a></span>
        <span><a class="link" href="">Pricing</a></span>
    </div>
    <p class="about-titles">FOLLOW US</p>
    <div>
        <span><a class="link" href="">Facebook</a></span>
        <span><a class="link" href="">Instagram</a></span>
        <span><a class="link" href="">Twitter</a></span>
        <span><a class="link" href="">Reddit</a></span>
    </div>

    </div>
</section>