html,body{
    font-size: 10px; 
    margin: auto;
    height: 10000px;
}

.background{
    width: 100%; 
    height: 600px; 
    margin: auto;
    border: 3px solid #73AD21;
    background-image: url(Background.png);
    background-size: cover;
    
    
}

#logo{
    width: 125px;
    height: 100px; 
    padding: 25px; 
    padding-left: 0px; 
    padding-top: 0px;
}

#logo:hover{
    filter: drop-shadow(8px 8px 10px green);}

#login{
    width: 125px;
    height: 100px;
    color: antiquewhite; 
    padding: 25px;
    padding-right: 0px;
    padding-top: 0px;
}

#login:hover{
    filter: drop-shadow(8px 8px 10px green);
}

#brandName{
    font-size: 2.5em;
    color: black;
    font-weight: bold;
    font-family: 'Brush Script MT', cursive;
    padding: 25px;
}

#slogan{
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    padding-top: 210px;
    width: 100%;
    font-size: 5em;
}

 li{
    list-style: none;  
}

.d-flex{
    justify-content: space-between;
}

ul{
    padding: 0px;
}

nav{
    display: block;
    height: 75px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    position: fixed;
}

.searchBar{
    margin: 1%;
    padding-bottom: 10px;
    
}

#location,#category,#price,#area,#search{
    margin-bottom: 200px;
    width: 90%;
    font-size: 2em;
    flex-grow: 1;
}