#form-section {
    min-height: calc(70vh - 60px);
    margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(180deg, rgba(6,97,99,1) 0%, rgba(17,138,140,1) 76%);
}

#login-register-form-container {
    border: solid;
    border-width: 2px;
    border-radius: 4px;
    box-shadow: 1px 3px 6px 1px;
    margin:auto;
    max-width: 480px;
    background-color: rgba(248, 245, 245, 0.826);
}
.lr-button {
    border: none;
    background-color: white;
}
.lr-button:focus {
    outline: none;
}
.login-register-form {
    padding: 2% 5%;
    background-color: white;
}
#l-button-container {
    border-right: solid;
    border-width: 2px;
    border-top-right-radius: 6px;
    background-color: white;
}
#r-button-container {
    border-width: 2px;
    border-bottom: solid ;
    border-top-left-radius: 6px;
}
#r-button {
    background-color: rgba(169, 169, 169, 0);
}
#register-form{
    display: none;
}
.s-button:hover {
    box-shadow: 0px 0px 1px 2px rgb(230, 196, 8);
}

#sl-button:active {
    background-color:  rgb(173, 255, 47, 0.1);
    box-shadow: 0px 0px 1px 2px rgb(230, 196, 8);
    border: none;
}
#sl-button {
    width: 40%;
    margin: auto;
}
#sr-button:active {
    background-color:  rgb(173, 255, 47, 0.1);
    box-shadow: 0px 0px 1px 2px rgb(173, 255, 47);
    border: none;
}
#sr-button {
    width: 40%;
    margin: auto;
}
