#section1{
    width: 100%; 
    min-height: 100vh; 
    /*background-color: #066163;*/
    background-image: url(../media/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

@media screen and (max-width:1060px){
    #slogan { 
        font-size: calc(1060 / 100 * 3px) !important;
    }
    .carousel-item {
        flex: 0 0 100% !important;
    }
}


#slogan{
    color: #CDBE78;
    text-align: center;
    margin: auto;
    padding-top: 20vh;
    font-size: 3vw;
}


#search-bar{
    max-width: 1500px;
    font-size: 2em;
    padding-top: 5%;
    margin: auto;
    opacity: 0.9;
}

.search-fields {
    padding: 0px ;
}
  
.search-fields input{
    font-size: 1em;
}
#search-bar select{
    background-color: white;
    color: rgba(0,0,0, 0.6);
}
#search-bar svg {
    color:#CDBE78;
    width: 1em;
}
#search-bar button {
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
    margin: 0;
    
}

#city,#propertyType,#minPrice,#minArea,#search{
    font-size: 1em;
}

#change-section-anchor {
    display: none;
    margin: auto;
    margin-top: 40vh;
    width: 60px;
    color: rgba(255, 255, 255, 0.2);
}

#change-section-anchor a{
    color: inherit
}
#section2{
    background-color: #F2F2F2;
    min-height: calc(70vh - 60px);
}

#sec2-title{
    text-align: center;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

/*Slide show start*/

#recommendations{
    border-width: 1px;
    height: 60%;
    width: 70%;
    margin: auto;
}
.carousel {
    margin: auto;
    height: 100%;
}

.carousel-inner {
    display: flex;
    height: 100%;
}

.carousel-item {
    display: block;
    position: relative;
    flex: 0 0 34%;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 1px 1px;
    margin: 2px;
    padding: 6px;

}

.carousel-item img {
    height: 70%;
    width: 100%;
}

.carousel-item p {
    margin: 0px;
}

.carousel-control-prev, .carousel-control-next {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    border: none;
    margin-top: 20%;

}
/*Slide show end*/
