<nav class="container-fluid" id="navigation-bar">
    <div class="row no-gutters space-nowrap">
        <div class="col-1">
            <div class="menu-items">
                <a href="main"><img id="logo" src="media/Logo.png"></a>
            </div>
        </div>
        <div class="col-7">
            <div class="menu-items" id="brand-name">Real Estate</div>
        </div>
        <div class="col-1">
            <div class="menu-items menu-options"><a href="">FOR SALE</a></div>
        </div>
        <div class="col-1">
            <div class="menu-items menu-options"><a href="">TO LET</a></div>
        </div>
        <div class="col-1">
            <div class="menu-items menu-options"><a href="about-us">ABOUT US</a></div>
        </div>
        <div class="col-1">
            <div class="menu-items menu-options" id="entry">
                <a href="login" id="login">
                    <span>LOG</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-door-open" viewBox="0 0 16 16">
                        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                        <path
                            d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z" />
                    </svg>
                    <span>IN</span>
                </a>
            </div>
            <div class="menu-items dropdown" id="list-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
                <div class="dropdown-content">
                    <a href="">FOR SALE</a>
                    <a href="">TO LET</a>
                    <a href="about-us">ABOUT US</a>
                    <a href="login">LOG-IN</a>
                </div>
            </div>
        </div>
    </div>
</nav>