<div class="form-row">
    <div class="form-group col-sm">
        <label class="type-label">Commericial Type :</label>
        <select class="form-select type-select form-control" id="type" onchange="">
            <option value="office" selected>Office</option>
            <option value="garage">Garage</option>
        </select>
    </div>
</div>