<html lang="en">

<head>
    {{>common-header}}
    <link rel="stylesheet" href="CSS/stylesheet-listings.css">
</head>

<body>
    {{>(whichNavbar user)}}
    <section class="property-listing-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6" style="border:solid">
                    <div class="filters-placement row">
                        <div class="col-1">
                            <div class="rArrow-div">
                                <img class="rArrow" src="media/arrow-point-to-right.png" alt="RightArrow">
                            </div>
                            <div class="lArrow-div">
                                <img class="lArrow" src="media/arrow-point-to-left.png" alt="LeftArrow">
                            </div>
                        </div>
                        <div class="col-10 FiltersPopUp">
                            <div class="filters-container form">
                                <ul class="filters list-group">
                                    <p>Filters</p>
                                    <li class="list-group-item">
                                        <h5>Filter 1</h5>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="a1" id="a1">
                                            <label class="form-check-label" for="a1">option1</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="a2" id="a2">
                                            <label class="form-check-label" for="a2">option2</label>
                                        </div>

                                    </li>

                                    <li class="list-group-item">
                                        <p>Price</p>
                                        <label class="form-label" for="max-price">max</label>
                                        <input type="number" class="form-control" id="max-price">
                                        <label class="form-label" for="min-price">min</label>
                                        <input type="number" class="form-control" id="min-price">
                                    </li>
                                    <li class="list-group-item">Filter 3</li>
                                    <li class="list-group-item">Filter 4</li>
                                    <li class="list-group-item">Filter 5</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-10 col-md-8 col-sm-6" style="border:solid">
                    <div class="property-listing-table container-fluid">
                        <div class="row">
                            {{{body}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {{>about-section}}

    <script src="JavaScript/listings"></script>
    <script src="JavaScript/open-filters.js"></script>

</body>

</html>