<!DOCTYPE html>
<html lang="en">

<head>
    {{>common-header}}
    <link rel="stylesheet" href="CSS/stylesheet-main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>

<body>
    {{>(whichNavbar user)}}
    <section id="section1">

        <p id="slogan">Find the place you belong...</p>

        <form class="container-fluid" method="post" action="listings" id="search-bar">
            <div class="row justify-content-center">
                <div class="col-md-2 search-fields">
                    <input class="form-control" type="text" id="city" name="city" placeholder="City">
                </div>
                <div class="col-md-2 search-fields">
                    <select  class="form-control" name="propertyType" id="propertyType">
                        <option value="residential">residence</option>
                        <option value="garage">garage</option>
                        <option value="garage">office</option>
                    </select>
                </div>
                <div class="col-md-2 search-fields">
                    <input class="form-control" type="number" id="min-price" name="minPrice" min=0 placeholder=" Min Price &#8364">
                </div>
                <div class="col-md-2 search-fields">
                    <input class="form-control" type="number" id="min-area" name="minArea" min=0 placeholder=" Min Area (m&sup2)">
                </div>
                <div class="col-md-2 search-fields">
                    <button class="btn" id="search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </form>

        <div id="change-section-anchor">
            <a href="#section2">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                </svg>
            </a>
        </div>

    </section>



    <section id="section2">

        <h1 id="sec2-title">Property Recommendations</h1>
        {{{body}}}
    </section>

    {{>about-section}}

    <!--Script District-->
    <script src="JavaScript\main.js"></script>
    <script src="JavaScript\slideshow.js"></script>
</body>

</html>